.card-group .card-img-top {
  width: 100%; /* or any size you want */
  height: 200px; /* or any size you want */
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom right, #272822, #383830);
  color: whitesmoke;
}

h1.display-5 {
  font-family: "Bangers";
  font-weight: 400; /* Extra Bold */
  text-shadow: 4px 4px 4px rgba(0.5, 0.5, 0.5, 0.5); /* add drop shadow to text */
}

@font-face {
  font-family: "Mona Sans";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.card {
  background-color: #333530;
}

.navbar,
.footer {
  background-color: #272822 !important;
  color: white !important;
}

.navbar *,
.footer * {
  color: white !important;
}

.submit-btn {
  background-color: #272822; /* change this to your desired color */
  color: white; /* change this to your desired text color */
}

.container * {
  color: white;
}
